
/* ==========================================================================
   Global
   ========================================================================== */

html {
  background-color: var(--sky);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin-bottom: 0;
}

a {
  word-wrap: break-word;
}

a,
a:visited {
  color: var(--orange);
}

a:hover,
a:focus {
  text-decoration: none;
}

button {
  cursor:pointer;
  border:0;
  -webkit-appearance:none;
  outline:0;
  padding:0;
  box-shadow:none;
  user-select:none;
  text-decoration:none;
  font-style:normal;
  color:inherit;
  background-color: transparent;
}
