
/* ==========================================================================
   Variables
   ========================================================================== */


:root {
  --textColor: #333;
  --sky: #daebf5;
  --white: #fff;
  --sand: #ece8dd;
  --stone: #f5f5f5;
  --border: #d4d2cd;
  --orange: #fe6c5f;
  --skySolarized: #c7daf3;
  --skyArtic: #e5edf7;
  --grey: #fdfcfc;
  --polarBlue: #607D8B;

}
