@import './css-shared/variables.css';
@import './css-shared/media-queries.css';

.container {
  padding: .5em;
  background: var(--sand);
  position: relative;
  border-top: 2px solid var(--orange);
}

.avatarBlock {
  display: inline-block;
  margin-top: -2.7em;
  border: 3px solid var(--orange);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.avatar {
  width: 60px;
  height: auto;
  display: block;
}

.authorName,
.time {
  display: inline-block;
  padding: .5em;
}
