@import './css-shared/variables.css';
@import './css-shared/media-queries.css';

.container {
  background-color: var(--stone);
  border-top: 1px solid var(--border);
  padding-bottom: .5em;
}

.title {
  font-size: 1.4rem;
  padding: .5em;
  text-transform: uppercase;
  display: inline-block;
}

.viewAllBtn {
  margin: .5em;
  padding: .5em;
  background-color: var(--white);
  padding: .5em;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  border: 1px solid var(--border);
}

.counter {
  font-size: 1.4rem;
  display: inline-block;
  position: absolute;
  top: -6px;
  padding: .2em;
  border-radius: 100%;
  background-color: var(--skySolarized);
  width: 23px;
  height: 22px;
}
