@import './css-shared/variables.css';
@import './css-shared/media-queries.css';

.container {
  background-color: var(--skyArtic);
  border-top: 1px solid var(--border);
  padding-bottom: .5em;
}


/*=====================================*/

.commentsWrapper {
  position: relative;
}

.lastCommentsWrapper {
  /*background-color: green;*/
}

/*.allCommentsWrapper {

}*/

.enter {
  opacity: .01;
}
.enterActive {
  opacity: 1;
  transition: opacity 5000ms ease-in;
  background-color: red;
}
.leave {
  opacity: 1;
}
.leaveActive {
  opacity: .01;
  transition: opacity 3000ms ease-in;
}

/*=====================================*/


.title {
  font-size: 1.4rem;
  padding: .5em;
  text-transform: uppercase;
  display: inline-block;
}

.viewAllBtn {
  margin: .5em;
  padding: .5em;
  background-color: var(--white);
  padding: .5em;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  border: 1px solid var(--border);
}

.counter {
  font-size: 1.4rem;
  display: inline-block;
  position: absolute;
  top: -6px;
  padding: .2em;
  border-radius: 100%;
  background-color: var(--skySolarized);
  width: 23px;
  height: 22px;
}
