@import './css-shared/variables.css';
@import './css-shared/media-queries.css';

.container {
  background-color: var(--stone);
  border-top: 1px solid var(--border);
}

.title {
  margin: .5em;
  text-transform: uppercase;
  display: inline-block;
}

.item {
  display: inline-block;
  margin: .5em;
  padding: .5em;
  background-color: var(--white);
  border-radius: 2px;
  border: 1px solid var(--border);
}
